<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Salesforce AG Log Viewer</title>
    <link rel="stylesheet" href="logViewer.css">
</head>
<body>
    <div class="grid">
        <div class="grid-header-container">
            <div class="grid-row grid-header" id="grid-header">
                <div class="grid-cell" data-field="user">User</div>
                <div class="grid-cell" data-field="time">Time</div>
                <div class="grid-cell" data-field="status">Status</div>
                <div class="grid-cell" data-field="size">Size</div>
                <div class="grid-cell" data-field="operation">Operation</div>
                <div class="grid-cell" data-field="duration">Duration</div>
            </div>
        </div>
        <div class="grid-body" id="grid-body"></div>
    </div>
    <script src="logViewer.js"></script>
</body>
</html>